
body{
    background-color: #252525;
}
div.container{
    background-color: #fff;
    box-shadow: 3px 3px 5px black;
    width: 98%;
    height: 1390px;
    display: flex;
    margin: auto;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    border-radius: 20px;
    

}
div.box{
    background-color: skyblue;
    width: 320px;
    height: 300px;
    box-shadow: 3px 3px 5px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-top: 30px;
    border-radius: 20px;
    

}
article.item{
    background-color: #252525;
    color: white;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}
article.item:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.item2{
    background-color: #252525;
    color: white;
    padding: 20px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}

.um{font-size: 30px;}
.dois{font-size: 20px;}

div.box2{
    background-color: #EBB06E;
    height: 1000px;
    box-shadow: 3px 3px 5px black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 320px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: flex-start;
    border-radius: 15px;
    
}
.lista{
    align-self: flex-start;
    margin: 10px;
}

.li{
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;

}
.libtn{
    margin-bottom: 2px;
    background-color: #252525;
    text-decoration: none;
    padding: 1px 0px;
    border-radius: 20px;
    opacity: 0.8;
    margin-right: 5%;

}
ul li p{
    color: white;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.li2{
    margin-bottom: 15px;
    text-decoration: underline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.li3{
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif;
}

.box3{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 3px black;
    flex-grow: 0;
    width: 280px;
    padding-left: 15px;
    border-radius: 10px;
}

.box4{
    background-color: #9E703A;
    width: 80%;
    height: 1320px;
    margin: 30px;
    box-shadow: 5px 5px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}

.container2{
    display: flex;
    flex-direction: column;
}

.conteudo{
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.boxseparada{
    width: 95%;
    height: 1300px;
    background-color: #FFCC91;
    box-shadow: 3px 3px 5px black;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
}
.lang{
    display: flex;
    flex-direction: row;
    
}
img#imgl{
    width: 60%;
    margin-left: 12%;
    border-radius: 5px;
    max-height: 400px;
}

.hero{
    border-radius: 20px;
    margin-top: 30px;
    background-image: url('../imagens/aa.jpg!d');
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero .btn{
    background-color: white;
    padding: 20px 30px;
    color: black;
    border-radius: 10px;
}

a{
    text-decoration: none;
    cursor: pointer;
    opacity: 0.7;
}
.btn2{
    opacity: 0.8;
}
a:hover{
    opacity: 1;
}
.rodape{
    background-color: #252525;
    width: 100%;
    height: 500px;
    border-radius: 10px;
    margin-top: 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 30px;
    box
}
.rodape nav{display: flex;}
nav{text-decoration: none; list-style: none;}
.rodape nav li{
    margin: 0px 20px;
    padding: 0px 30px;
    padding-top: 20px;
    padding-bottom: 5px;
    background-color: #fff;
    border-radius: 10px;
    color: black;
    font-size: 30px;
}
.rodape h1{
    font-size: 4rem;
}
li img{
    margin-left: 40%;
}
a.btn3{
    text-decoration: none;
}

a li.libtn:hover{
    opacity: 1;
}

.botao{
    background-color: #252525;
    color: white;
    border-radius: 15px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
    margin-top: 20%;
}
.botaodownload{
    background-color: #ffffff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: black;
    border-radius: 15px;
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    box-shadow: 3px 3px 5px black;
}

div.download{
    display: flex;
    justify-content: ;
    
}
div.download2{
    display: flex;
    justify-content: space-between;
}
